
    <div class="color-switcher animated">

        <br />
        
        <h5>
            <a href="https://appseed.us/pricing">Get Support</a>
        </h5>

        <div class="actions mb-4">
            <a  class="mb-2 btn btn-sm btn-primary w-100 d-table mx-auto extra-action" 
                href="https://appseed.us/admin-dashboards/django-dashboard-shards">
                <i class="material-icons">cloud</i> See Product
            </a>
        </div>
        <div class="close">
            <i class="material-icons">close</i>
        </div>
    </div>
          