
    <div class="promo-popup animated">
        <a href="https://appseed.us/admin-dashboards" class="pp-cta extra-action">
            <img src="https://raw.githubusercontent.com/app-generator/static/master/products/django-dashboard-shards-screen.png"> 
        </a>
        <div class="pp-intro-bar">Need More Dashboards?
            <span class="close">
                <i class="material-icons">close</i>
            </span>
            <span class="up">
                <i class="material-icons">keyboard_arrow_up</i>
            </span>
        </div>
        <div class="pp-inner-content">
            <h2>Fully-coded Admin Panels</h2>
            <p>Paid and Open-Source Dashboards coded by Appseed.</p>
            <a class="pp-cta extra-action" href="https://appseed.us/admin-dashboards">See products</a>
        </div>
    </div>
