{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="main-content-container container-fluid px-4">
      <!-- Page Header -->
      <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
          <h3 class="page-title">Register</h3>
        </div>
      </div>
      <!-- End Page Header -->
      <!-- Default Light Table -->
      <div class="row">

        <div class="col-lg-8">
          <div class="card card-small mb-4">
            <div class="card-header border-bottom">
              <h6 class="m-0">
                
                {% if msg %}
                  {{ msg | safe }}
                {% else %}
                Add your credentials or <a href={% url 'login' %} >authenticate</a> with an existing account.
                {% endif %}  

              </h6>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-3">
                <div class="row">
                  <div class="col">

                    {% if success %}

                      <p>
                        Please <a href={% url 'login' %}>authenticate</a> using the new account.
                      </p>  

                    {% else %}

                      <form role="form" method="post" action="" class="pt-3">
                
                        {% csrf_token %} 

                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="feFirstName">Username</label>
                            {{ form.username }}
                          </div>
                        </div>
                        <span class="text-danger">{{ form.username.errors }}</span>

                        <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="feFirstName">Email</label>
                              {{ form.email }}
                          </div>
                        </div>
                        <span class="text-danger">{{ form.email.errors }}</span>

                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="feEmailAddress">Password</label>
                            {{ form.password1 }}
                          </div>
                        </div>
                        <span class="text-danger">{{ form.password1.errors }}</span>

                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="feEmailAddress">Password</label>
                            {{ form.password2 }}
                          </div>
                        </div>
                        <span class="text-danger">{{ form.password2.errors }}</span>
                        
                        <button type="submit" name="register" class="btn btn-accent">Register</button>
                        &nbsp; &nbsp; 
                        Have an account? <a href={% url 'login' %} class="text-primary">Login</a>
                      </form>

                    {% endif %}

                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Default Light Table -->
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
